@import '../utils/variables.scss';

.header-container {
  background: url("../../assets/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-position: right;
  height: 45em;
  background-color: $art-black;
  width: 65%;

  &__content-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    width: 80%;
    left: 14.9%;
    top: 15%;


    &__title-box {
      width: 50%;

      &--title {
        color: $art-white;
        font-size: 8em;
        text-transform: uppercase;
        text-align: left;
        width: 100%;
        font-family: $art-header-main;
        font-weight: 800;
        animation: $art-title-popin;
        

        &--spec-text {
            font-size: $art-xs-font;
            color: $art-black;

        }

      }
    }

    &__subtext-location-btn {
        padding: 0em 2em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 42%;
        animation: $art-fade-in-center;


      &--subtext {
        font-family: $art-text-font;
        width: 70%;
        text-align: left;
        font-size: 1.6em;
        margin-bottom: 3em;

      }

      &--btn {
        width: 35%;
        display: flex;

        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: $art-black;
        border: none;
        cursor: pointer;

        &::after{
            transform: scaleY(2);
        }

&:hover{
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.377);

}

        

        &__text{
                color: $art-white;
                padding: 0 .5em;
                font-size: $art-xs-font;
                font-family: $art-text-font;
                text-transform: uppercase;
                font-weight: bold;
                cursor: pointer;
                font-size: 1.1em;
                

        }

        &__icon-box {
            background-color: $art-tan;
            padding: .5em 1em;

            &--icon {


               
            }

            
        }
      }
    }
  }
}

.mobile-header-container {
    display: none;

    &__content-box {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      width: 100%;
      left: 0%;
      top: 0%;
      margin-top: 2em;
      padding: 0 2em;
  
  
      &__title-box {
        width: 100%;
  
        &--title {
          color: $art-black;
          font-size: 2em;
          text-transform: uppercase;
          text-align: left;
          width: 100%;
          font-family: $art-header-main;
          font-weight: 800;
          animation: $art-title-popin;
          
  
          &--spec-text {
              font-size: $art-xs-font;
              color: $art-black;
  
          }
  
        }
      }
  
      &__subtext-location-btn {
          padding: 0em 0em;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          animation: $art-fade-in-center;
  
  
        &--subtext {
          font-family: $art-text-font;
          width: 70%;
          text-align: left;
          font-size: 1.6em;
          margin-bottom: 3em;
  
        }
  
        &--btn {
          width: 35%;
          display: flex;
  
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          background: $art-black;
          border: none;
          cursor: pointer;
  
          &::after{
              transform: scaleY(2);
          }
  
  &:hover{
      box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.377);
  
  }
  
          
  
          &__text{
                  color: $art-white;
                  padding: 0 .5em;
                  font-size: $art-xs-font;
                  font-family: $art-text-font;
                  text-transform: uppercase;
                  font-weight: bold;
                  cursor: pointer;
                  font-size: 1.1em;
                  
  
          }
  
          &__icon-box {
              background-color: $art-tan;
              padding: .5em 1em;
  
              &--icon {
  
  
                 
              }
  
              
          }
        }
      }
    }
  }
